body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f7fb;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #0a0f2c;
  color: white;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: linear-gradient(rgba(10,15,44,.8), rgba(75,108,183,.8)),
  url('https://images.unsplash.com/photo-1518770660439-4636190af475');
  background-size: cover;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* SECTION */
section {
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* ANIMATION */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
footer {
  background: #0a0f2c;
  color: white;
  text-align: center;
  padding: 20px;
}
