*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background: radial-gradient(circle at top,#0b0f2e,#050816);
  color:white;
}

/* NAVBAR */
.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
}

.arrow-logo{
  width:30px;
  height:30px;
  background:linear-gradient(45deg,#7f5cff,#3aa0ff);
  clip-path:polygon(0 0,100% 50%,0 100%);
}

nav a{
  margin:0 10px;
  color:#aaa;
  text-decoration:none;
}

nav a:hover{
  color:#fff;
}

/* BUTTONS */
.btn{
  background:linear-gradient(45deg,#7f5cff,#3aa0ff);
  border:none;
  padding:10px 20px;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

.outline{
  border:1px solid #7f5cff;
  background:transparent;
  padding:10px 20px;
  border-radius:8px;
  color:white;
}

/* HERO */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:100px;
}

.left h1{
  font-size:60px;
}

.left span{
  color:#7f5cff;
}

.tag{
  color:#4fa3ff;
  margin-bottom:10px;
}

.buttons{
  margin-top:20px;
}

/* SVG ARROW */
.main-arrow{
  width:250px;
  animation:float 4s infinite ease-in-out;
  filter:drop-shadow(0 0 30px #7f5cff);
}

@keyframes float{
  0%{transform:translateY(0)}
  50%{transform:translateY(-25px)}
  100%{transform:translateY(0)}
}

/* STATS */
.stats{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:40px;
}

.stats div{
  background:#0d1335;
  padding:20px;
  border-radius:10px;
  text-align:center;
}

.stats span{
  display:block;
  color:#aaa;
  margin-top:5px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:30px;
  color:#777;
}
